$gray-color: rgb(103, 106, 108);
$background-color: #e0e0e0;
$black-color: rgb(0, 0, 0);
$border-color: #cccfcf;
$brand-color: rgb(232, 51, 11);
$primary-color: rgb(24, 144, 255);
$background-nav-mb: rgb(240, 240, 240);

@font-face {
  font-family: Helvetica;
  src: url("../fonts/Helvetica.ttf") format("truetype");
}

html,
body {
  font-size: 62.5%; // 1rem = 10px
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Quicksand", Helvetica, sans-serif;
  color: $gray-color;
  line-height: 1.4;
  font-weight: 400;
}

.btn-basic {
  width: 125px;
  background-color: $brand-color;
  color: #fff;
  border: none;
  outline: none;
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  font-size: 1.4rem;
  text-align: center;
}

@mixin hoverBtn() {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    // transform: rotate(-45deg);
    opacity: 0;
    transition: opacity 0.4s;
    z-index: 0;
  }
  &:hover {
    &::after {
      opacity: 0.2;
    }
  }
}

@mixin hover-color-before {
  transition: color 0.3s;
}
@mixin hover-color-after {
  color: $primary-color;
}

@mixin product {
  width: 100%;
  padding: 3rem 0;
  height: 63rem;
  margin-bottom: 3rem;
  &__title {
    text-align: center;
    font-size: 3rem;
    color: $black-color;
    font-weight: 500;
  }
  &__wrap {
    display: flex;
    width: 100%;
  }
  &__item {
    position: relative;
    z-index: 1;
    &-link {
      width: inherit;
      height: inherit;
      position: relative;
    }
    &-img {
      position: relative;
      margin-top: 1.4rem;
      height: 31rem;
      background-size: cover;
      background-position: center;
      overflow: hidden;
    }
    &-btn {
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      z-index: 2;
      transition: top 0.4s;
      &-buy {
        width: 35%;
        @include hoverBtn();
      }
      &-add-cart {
        width: 50%;
        @include hoverBtn();
      }
    }
    &-img:hover &-btn {
      top: 85%;
    }
    &-title {
      font-size: 2rem;
      color: $black-color;
      font-weight: 500;
      margin-top: 1.6rem;
    }
    &-description {
      font-size: 1.4rem;
      line-height: 2.4rem;
      margin-bottom: 1rem;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipse;
      overflow: hidden;
    }
    &-price {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &--sale,
      &--current {
        font-size: 1.4rem;
        font-weight: bold;
      }
      &--current {
        color: $black-color;
        margin-top: 1rem;
      }
      &--sale {
        color: $brand-color;
        padding: 0.4rem 0;
      }
      &--sale.d-none {
        display: none;
      }
      &--current.no-active {
        text-decoration: line-through;
        color: $gray-color;
        opacity: 0.6;
        margin-top: 0;
      }
    }
  }
  &__show-all {
    margin: 3rem auto 0;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: $brand-color;
    color: #fff;
    font-size: 1.6rem;
    padding: 1rem 15rem;
    border: none;
    outline: none;
    transition: all 0.4s;
    @include hoverBtn;
    z-index: 2;
    overflow: hidden;
  }
}

@mixin owl-nav-center() {
  .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
  }
  .owl-prev,
  .owl-next {
    position: absolute;
    top: -50%;
    transform: translateY(-50%);
    & span {
      font-size: 3rem;
      padding: 2rem;
    }
  }
  .owl-prev {
    left: -6rem;
  }
  .owl-next {
    right: -6rem;
  }
}

// 1170px
.container {
  margin: 0 auto;
  max-width: 1210px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.container-full {
  width: 100vw;
}

.header {
  padding-top: 1rem;
  height: 15.5rem;
  z-index: 4;
  background-color: white;
  box-shadow: 0px 2px 8px 2px #00000029;
  transition: 0.4s;
  position: relative;
  &__top {
    font-size: 1.4rem;
    display: flex;
    margin: 0 auto 1rem;
  }
  &__location {
    margin-right: 5rem;
    &-icon {
      font-size: 1.8rem;
      margin-right: 1rem;
    }
  }
  &__phone {
    &-icon {
      font-size: 1.8rem;
      margin-right: 1rem;
    }
  }
  &__middle {
    border-bottom: 1px solid $gray-color;
    height: 7rem;
    padding-bottom: 2rem;
    .header__wrapper {
      display: flex;
      align-items: center;
    }
    &-wrap {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .header-bar,
    .header__phone {
      display: none;
    }
  }
  &__logo {
    width: 25rem;
    height: 5rem;
    img {
      width: 100%;
      height: 14rem;
      margin-top: -5rem;
    }
  }
  &__wrapper-search {
    width: 55rem;
    height: calc(100% - 2rem);
    background-color: $background-color;
    margin: 0 5rem 0 0;
    display: flex;
    padding: 1rem 3rem;
    border-radius: 3rem;
    align-items: center;
    .search {
      &-input {
        width: 100%;
        height: 90%;
        outline: none;
        border: none;
        background-color: inherit;
        text-align: center;
        color: $black-color;
        margin-right: 2rem;
      }
      &-icon {
        cursor: pointer;
        font-size: 1.6rem;
        transition: color 0.3s;
        margin-right: -2rem;
      }
      &-icon:hover {
        color: $black-color;
      }
    }
  }
  &__wrapRight {
    height: 100%;
    width: 30rem;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    .wrap {
      &-user {
        margin-right: 5rem;
        font-weight: 400;
        .user-icon {
          font-size: 1.6rem;
          margin-right: 1.6rem;
        }
      }
      &-cart {
        .cart-icon {
          font-size: 1.6rem;
          margin-right: 1.6rem;
        }
      }
    }
  }
  &__bottom {
    height: 5rem;
  }
  .menu {
    &__list {
      display: flex;

      position: relative;
      .menu__item {
        cursor: pointer;
        font-size: 1.6rem;

        text-transform: uppercase;
        padding: 1.4rem 5rem 1rem;
        font-weight: 500;

        @include hover-color-before();
        .mb-category__img {
          display: none;
        }
      }
      .menu__item:first-child {
        padding-left: 15rem;
      }
    }

    &__item:hover {
      @include hover-color-after();
    }

    &__submenu {
      cursor: default;
      width: 1210px;
      height: 47rem;
      position: absolute;
      top: 85%;
      left: 0;
      background-color: white;
      z-index: 2;
      color: $gray-color;
      display: none;
      justify-content: space-between;
      box-shadow: 0px 4px 6px 2px $background-color;
      border-radius: 6px;
      box-sizing: border-box;
      .menu__category {
        width: 55%;
        height: 4rem;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 1.6rem;
        &-item {
          width: 25%;
          font-size: 1.6rem;
          text-align: left;
          padding: 1rem 2rem;
          @include hover-color-before();
        }
        &-item:hover {
          @include hover-color-after();
        }
      }
      .menu__ads {
        width: 40%;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        &-item {
          width: 45%;
          height: 100%;
          cursor: pointer;
          &--img {
            width: 100%;
            height: 85%;
            object-fit: cover;
          }
          &--title {
            font-size: 1.6rem;
            text-align: center;
            margin: 0.2rem 0;
          }
          &--link {
            font-size: 1.4rem;
            display: block;
            text-align: center;
            color: $primary-color;
          }
        }
      }
    }

    &__item:active ul.menu__submenu,
    &__item:hover ul.menu__submenu {
      display: flex;
    }
  }
}

.header.posi-fixed {
  position: fixed;
  top: 0;
  animation: showIn 0.3s linear;
  transition: 0.4s;
}
@keyframes showIn {
  from {
    transform: translateY(-2rem);
  }
  to {
    transform: translateY(0);
  }
}

.slider {
  &__item {
    height: calc(100vh - 16.5rem);
    width: 100vw;
    background-size: cover;
  }
  &:hover {
    cursor: pointer;
  }
}

.service {
  width: 100vw;
  height: 10rem;
  background-color: $black-color;
  margin-top: 6rem;
  padding: 2rem 8rem;
  &__list {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__item {
    width: 20%;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    &-icon {
      font-size: 5rem;
      color: aliceblue;
      margin-right: 2rem;
    }
  }
}

.category {
  margin-top: 3rem;
  &__list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    border-bottom: 1px solid $border-color;
  }
  &__item {
    width: 24%;
    &-img {
      width: 100%;
      height: 35rem;
      background-size: cover;
      background-position: center;
    }
    &-title {
      text-align: center;
      font-size: 1.6rem;
      margin-top: 1rem;
    }
  }
}

.search {
  margin-top: 2rem;
  width: 100%;
  height: 18rem;
  position: relative;
  &__title {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    &-icon {
      font-size: 2.4rem;
      color: $brand-color;
    }
    &-name {
      font-size: 2rem;
      font-weight: bold;
      color: $black-color;
      margin-left: 1.8rem;
    }
  }
  &__wrapitem {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    border-bottom: 1px solid $border-color;
    padding-bottom: 2rem;
  }
  &__item {
    width: 20rem;
    height: 10rem;
    display: flex;
    flex-wrap: wrap;
    &-top,
    &-bottom {
      width: 100%;
      color: $black-color;
      height: 4rem;
      font-size: 1.4rem;
      padding: 0.8rem 3rem;
      border: 1px solid $border-color;
      line-height: 2rem;
      text-align: center;
    }
  }
  @include owl-nav-center();
}

.new-product {
  @include product();
  @include owl-nav-center();
}

.best-sale-product {
  @include product();
  @include owl-nav-center();
}

.best-view-product {
  @include product();
  @include owl-nav-center();
  z-index: 3;
}
.about-us {
  margin-bottom: 2rem;
  &__title {
    font-size: 3.2rem;
    color: $black-color;
    font-weight: 400;
    text-align: center;
  }
  &__content {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 2.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipse;
    overflow: hidden;
  }
}
.w-25 {
  width: 25%;
}
.w-17 {
  width: 17%;
}

.footer {
  width: 100vw;
  background-color: $background-color;
  color: $black-color;
  padding-bottom: 1rem;
  .social {
    font-size: 1.4rem;
    display: flex;
    justify-content: flex-end;
    &__link {
      margin: 2rem 3rem 1rem;
      font-weight: 400;
      &-icon {
        display: block;
        text-align: center;
        margin-bottom: 0.5rem;
        font-size: 3rem;
        color: $gray-color;
      }
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    .footer__item {
      margin: 4rem 0 1rem;
      .logo-footer {
        width: 13rem;
        height: 13rem;
        margin: -4rem 0 -3rem 2rem;
      }
      .content {
        font-size: 1.6rem;
        color: $gray-color;
      }
      .content__title {
        font-size: 1.4rem;
        font-weight: 700;
        text-transform: uppercase;
      }
      .content__link {
        display: block;
        font-size: 1.4rem;
        margin: 1rem 0;
      }
      .working-time {
        font-size: 1.4rem;
        display: flex;
        span:first-child {
          margin-right: 3rem;
        }
        .day-work {
          margin-bottom: 1rem;
        }
      }
    }
  }
  &__bottom {
    p {
      text-align: center;
      font-size: 1.4rem;
    }
  }
}
hr {
  border: 0.1px solid $border-color;
}
.navigation {
  display: none;
}

// mobile & tablet
@media screen and (max-width: 1023px) {
  .header {
    height: 16rem;
    &__top {
      display: none;
    }
    &__middle {
      display: flex;
      align-items: center;
      border: unset;
      height: unset;
      padding: unset;
      margin-bottom: 1rem;
      .header__middle-wrap {
        width: 100%;
        justify-content: space-between;
        flex-wrap: nowrap;
        .header__group-icon {
          width: 8rem;
          display: flex;
          .header-bar,
          .header__phone {
            display: block;
          }
          .header-bar {
            margin-right: 1rem;
            color: $primary-color;
          }
          i {
            font-size: 1.8rem;
            padding: 1rem;
          }
        }
        .header__logo {
          width: 15rem;
          height: 4rem;
          padding: 0 3rem;
        }
        .header__wrapper {
          width: 8rem;
          justify-content: space-between;
          .header__wrapper-search {
            width: unset;
            background-color: unset;
            margin-right: 1rem;
            padding: unset;
            .search-input {
              display: none;
            }
            i {
              font-size: 1.8rem;
              padding: 1rem;
            }
          }
          .header__wrapRight {
            cursor: pointer;
            width: unset;
            .wrap-user {
              display: none;
            }
            .wrap-cart span {
              display: none;
            }
            .wrap-cart {
              padding: 1rem;
              .cart-icon {
                margin: unset;
              }
            }
            i {
              font-size: 1.8rem;
            }
          }
        }
      }
    }
    &__bottom {
      padding: 1rem 0;
      .menu__list {
        justify-content: space-around;
        .menu__item:first-child {
          padding-left: unset;
        }
        .menu__item {
          padding: unset;
          font-size: 1.2rem;
          a {
            display: block;
            margin-top: 1rem;
          }
          .mb-category__img {
            display: block;
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            margin: 0 auto;
          }
        }
        .menu__item:active ul.menu__submenu,
        .menu__item:hover ul.menu__submenu {
          display: none;
        }
      }
    }
    &__bottom.d-none {
      display: none;
    }
  }
  .header.fixed {
    position: fixed;
    top: 0;
    height: 6rem;
  }
  .service {
    display: none;
  }
  .category {
    display: none;
  }
  .navigation {
    width: 33rem;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: white;
    z-index: 6;
    padding: 1.6rem 1.6rem;
    overflow-y: scroll;
    transition: linear 0.4s;
    transform: translateX(-33rem);
    display: block;
    opacity: 0;
    visibility: hidden;
    .nav-gender {
      width: 100%;
      display: flex;
      position: relative;
      align-items: flex-start;
      justify-content: center;

      margin-bottom: 1.6rem;
      .nav-gender__female,
      .nav-gender__male {
        width: calc(50%);
        display: inline-block;
        text-align: center;
        font-size: 1.4rem;
        padding: 0 0 1.5rem 0;
        border-bottom: 1px solid $border-color;
      }
      .nav-gender__female {
        position: relative;
      }
      .nav-gender__female::before {
        content: "";
        width: 1px;
        height: 80%;
        position: absolute;
        border-right: 1px solid $border-color;
        right: 0;
      }
      .nav-icon--back {
        position: absolute;
        font-size: 1.6rem;
        left: 0rem;
        top: 0rem;
      }
      .nav-genger--active {
        font-weight: bold;
        border-bottom: 1px solid $primary-color;
      }
    }
    .nav-brand {
      &__list {
        .nav-brand__item {
          &--title {
            font-size: 1.4rem;
            font-weight: bold;
          }
          &--img {
            max-height: 9.6rem;
          }
        }
      }
    }
    .nav-exclusive {
      &__title {
        font-size: 1.4rem;
        background: $background-nav-mb;
        padding: 1.4rem 0 1.4rem 4.8rem;
        margin: 0 0 1.6rem -1.6rem;
        font-weight: bold;
      }
      &__list {
        .nav-exclusive__item {
          &--title {
            font-size: 1.4rem;
            font-weight: bold;
          }
          &--img {
            max-height: 9.6rem;
          }
        }
      }
    }
    .nav-social__login {
      background-color: $background-color;
      margin: 0 -1.6rem;
      padding: 1.6rem;
      .nav-social__wrap {
        display: flex;
        justify-content: center;
        font-size: 3rem;
        background-color: white;
        .facebook {
          margin-right: 2rem;
        }
      }
    }
    .nav-login {
      display: flex;
      justify-content: center;

      &--link__login,
      &--link__logout {
        font-size: 1.2rem;
        padding: 1.4rem 2rem;
      }
      &--link__login {
        position: relative;
      }
      &--link__login::before {
        content: "";
        width: 1px;
        height: 1.6rem;
        position: absolute;
        top: 1.4rem;
        right: 0rem;
        border-right: 1px solid $border-color;
      }
    }
    .nav-feature {
      &__item {
        background-color: $background-color;
        margin: 0 -1.6rem;
        padding: 1rem 1.6rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        &--icon {
          width: 10%;
          margin-left: 2rem;
          font-size: 1.4rem;
          padding: 0 1rem;
          font-weight: bold;
        }
        &--title {
          flex: 1;
          margin-left: 3rem;
          font-size: 1.2rem;
        }
      }
      &__item::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 10%;
        width: 80%;
        height: 1.2rem;
        border-bottom: 1px solid $border-color;
      }
      &__item:last-child::before {
        width: 0;
        height: 0;
      }
    }
  }
  .mg-item__category {
    height: 9.6rem;
    display: flex;
    background-color: $background-nav-mb;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 0 1.6rem 3.2rem;
    margin-bottom: 1.6rem;
  }
  .background-primary-color {
    background-color: $brand-color;
    color: white;
  }
  .background-mask {
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
  }
  .active-nav {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  .active-mask {
    display: block;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.8s;
  }
}
// table
@media (min-width: 740px) and (max-width: 1023px) {
}
//mobile
@media (max-width: 739px) {
}
